.main {
  //margin-top: 60px;
}

.greenZone {
  margin: 60px 0;
  border-radius: 50px;
  padding: 70px;
  background-color: #51CC39;
  display: flex;
  column-gap: 100px;
}

.greenZone_leftPart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 46px;
}

.greenZone_rightPart {

}

.greenZone_text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
    color: white;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
  }
}

.orangeZone {
  padding: 160px 5%;
  height: 1000px;
  background: url("../../images/orange_background.svg");
}

.orangeZone_content {

}

.orangeZone_content_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orangeZone_content_flex {
  justify-content: center;
  display: flex;
  column-gap: 20px;
  margin: 46px 0;
}

.contestZone {
  padding: 160px 5%;
}

.contestZone_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
  }
}

.contestZone_content {
  width: 100%;
  margin-top: 46px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/contest_background.svg");
  height: 670px;
  background-position: center;
  padding: 70px;
}

.contestZone_card {
  background-color: white;
  padding: 50px;
  border-radius: 35px;
  height: 100%;
  display: flex;
  column-gap: 50px;
}

.contestZone_card_leftPart {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 50px;
}

.contestZone_card_rightPart {
  width: 40%;
  border-radius: 20px;
  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contestZone_card_text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  h2 {
    font-size: 32px;
    line-height: 38px;
  }
  p {
    font-size: 24px;
    line-height: 28px;
  }
}

.blogZone {
  padding: 160px 5%;
  height: 1000px;
  background: url("../../images/blogs_background.svg");
}

.rubyStore {
  width: 100%;
  background-color: #91172C;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

.rubyStore_leftPart {
  width: 50%;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rubyStore_leftPart_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 36px;
  h2 {
    font-size: 48px;
    line-height: 57px;
    color: white;
    font-weight: 500;
  }
}

.rubyStore_rightPart {
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 50px 50px 0;
  }
}

.activeUsersZone {
  padding: 160px 5%;
  height: 1000px;
  background: url("../../images/activeUsers-bg.svg");
  .flexZone {
    margin-top: 46px;
    background: #FFD25DCC;
    border-radius: 50px;
    padding: 80px 140px;
    display: flex;
    column-gap: 20px;
  }
}

.sportsCommunity {
  width: 100%;
  margin-top: 38px;
  background: url("../../images/sportsCommunity-bg.svg") no-repeat;
  border-radius: 50px;
  height: 670px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 70px 0;
}

.sportsCommunity_block {
  padding: 32px;
  background-color: white;
  border-radius: 35px;
  text-align: center;
  div {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

  }
}

.clubZone {
  padding: 160px 5%;
  height: 1000px;
  background: url("../../images/clubs-bg.svg");
}

.sponsorsGrid {
  width: 100%;
  margin-top: 46px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.sponsorBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 35px;
  background-color: #761022;
}
