.settings {
    &__title {
        color: #000000;
        font-size: 40px;
        font-weight: 500;
        line-height: calc(48 / 40);
        overflow: hidden;
        &:not(:last-child) {
            margin: 0 0 46px;
        }
    }
}
