.settings {
    &__title {
        color: #000000;
        font-size: 40px;
        font-weight: 500;
        line-height: calc(48 / 40);
        overflow: hidden;
        &:not(:last-child) {
            margin: 0 0 46px;
        }
    }
}

.form {
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    &__body {
        background-color: var(--light-grey);
        display: flex;
        gap: 30px;
        padding: 70px;
        padding: calc(70 / 1660 * 100%);
    }
    &__column {
        background-color: var(--white);
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(50% - 15px);
        gap: 32px;
        padding: 35px;
    }
    &__footer {
        background-color: var(--white);
        display: flex;
        justify-content: center;
        padding: 46px 20px;
    }
    &__control {
        grid-column: 1 / 2;
    }
    &__controlLabel {
        font-size: 24px;
        font-weight: 500;
        line-height: calc(28 / 24);
        margin: 0 0 24px;
    }
    &__controlField {
        background-color: var(--light-grey);
        border-radius: 50px;
        color: #817E7E;
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 400;
        line-height: calc(22 / 18);
        width: 100%;
    }
    input.form__controlField {
        padding: 20px 30px;
    }
    &__controlFieldWrapper {
        position: relative;
        img {
            position: absolute;
            top: 20px;
            right: 30px;
        }
    }
}

