.quiz {
    display: flex;
    flex-direction: column;
    gap: 46px;
    box-shadow: 0px 0px 8px 0px #0000001f;
    border-radius: 26px;
    padding-bottom: 46px;

    @media (max-width: 480px) {
        margin-top: 80px;
        gap: 32px;
        padding-bottom: 32px;
    }

    &__content {
        background-color: #91172c;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        color: #ffffff;
        padding: 70px;
        min-height: 572px;

        @media (max-width: 1440px) {
            padding: 50px;
            border-radius: 36px 36px 0px 0px;
        }

        @media (max-width: 768px) {
            padding: 50px;
        }

        @media (max-width: 480px) {
            padding: 24px 18px 24px 18px;
            gap: 32px;
            border-radius: 26px 26px 0px 0px;
            min-height: auto;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin: 0 0 46px;
        }

        @media (max-width: 1440px) {
            margin-bottom: 36px;
        }

        @media (max-width: 480px) {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__backButton {
        background-color: #ffffff;
        border-radius: 50px;
        padding: 12px 30px;

        @media (max-width: 480px) {
            position: absolute;
            top: 170px;
            left: 20px;
            background: #f4f4f4;
            margin-bottom: 20px;
        }
    }
    &__counter {
        font-size: 20px;
        font-weight: 500;
        line-height: calc(24 / 20);
        span {
            font-family: "Saira", "sans-serif";
        }
    }
    &__body {
    }
    &__invitation {
        font-size: 32px;
        font-weight: 500;
        line-height: calc(38 / 32);

        @media (max-width: 1024px) {
            font-size: 24px;
        }
        @media (max-width: 480px) {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
        }
    }
    &__question {
        display: grid;
        grid-template-columns: 612px 768px;
        justify-content: space-between;

        @media (max-width: 1620px) {
            grid-template-columns: 480px 1fr;
        }

        @media (max-width: 1200px) {
            gap: 32px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__questionText {
        font-size: 32px;
        font-weight: 500;
        line-height: calc(38 / 32);

        @media (max-width: 1620px) {
            font-size: 24px;
        }

        @media (max-width: 1024px) {
            font-size: 24px;
        }

        @media (max-width: 480px) {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
    &__questionAnswers {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 480px) {
            gap: 16px;
        }
    }
    &__questionAnswer {
        background-color: #ffffff;
        border-radius: 20px;
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        line-height: calc(24 / 20);
        padding: 32px;
        text-align: center;

        @media (max-width: 480px) {
            padding: 24px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__button {
        background-color: #91172c;
        border-radius: 50px;
        display: flex;
        gap: 12px;
        align-items: center;
        align-self: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: calc(24 / 20);
        padding: 18px 60px;

        &_outlined {
            background-color: transparent;
            border: 2px solid #91172c;
            color: #91172c;
        }

        @media (max-width: 480px) {
            padding: 14px 30px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__rightAnswer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        button {
            background-color: #ffffff;
            border-radius: 50px;
            align-self: flex-end;
            font-size: 20px;
            font-weight: 500;
            line-height: calc(24 / 20);
            padding: 12px 30px;
        }
    }
    &__rightAnswerBody {
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        padding: 32px;
        min-height: 208px;
        p {
            color: #2a2a2a;
            font-size: 20px;
            font-weight: 500;
            line-height: calc(24 / 20);
        }

        @media (max-width: 480px) {
            padding: 16px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__rightAnswerResult {
        border-radius: 50px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(20 / 16);
        padding: 8px 20px;
        &[data-result="true"] {
            background-color: #368826;
        }
        &[data-result="false"] {
            background-color: #e11f1f;
        }
    }
    &__result {
        margin: 0 auto;
        width: 100%;
        max-width: 1060px;
        text-align: center;
        & > * {
            &:first-child {
                font-size: 36px;
                font-weight: 600;
                line-height: calc(44 / 36);
                &:not(:last-child) {
                    margin: 0 0 16px;
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 32px;
                }
            }
            &:last-child {
                font-size: 96px;
                font-weight: 500;
                line-height: calc(116 / 96);

                @media (max-width: 1024px) {
                    font-size: 64px;
                }

                @media (max-width: 480px) {
                    font-size: 48px;
                }
            }
        }
        p {
            font-size: 24px;
            font-weight: 400;
            line-height: calc(28 / 24);

            &:not(:last-child) {
                margin: 0 0 46px;
            }

            @media (max-width: 480px) {
                font-size: 16px;
            }
        }
    }
}