.show_more_button {
    display: inline;
    color: #91172C;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
 //   font-weight: bold;
}

.post {
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 35px;
    padding: 32px;
    width: 100%;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        &:not(:last-child) {
            margin: 0 0 20px;
        }
    }
    &__mainInfo {
        display: grid;
        gap: 4px 12px;
    }
    &__avatar {
        background-color: #FFFFFF;
        border-radius: 50%;
        grid-row: 1 / 3;
        width: 60px;
        height: 60px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
    }
    &__title {
        align-self: end;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 24px;
        font-weight: 500;
        line-height: calc(28 / 24);
    }
    &__createdAt {
        align-self: start;
        color: #9D9D9D;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-family: "Saira", "sans-serif";
        font-size: 18px;
        font-weight: 500;
        line-height: calc(22 / 18);
    }
    &__body {
        &:not(:last-child) {
            margin: 0 0 24px;
        }
    }
    &__content {
        font-size: 20px;
        font-weight: 400;
        line-height: calc(24 / 20);
        white-space: break-spaces;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 7.2em;
        &_expanded {
            max-height: none;
        }
        & > * {
            &:not(:last-child) {
                margin: 0 0 24px;
            }
        }
        ul, ol {
            padding-left: 24px;
        }
        li {
            list-style: initial;
        }
        &:not(:last-child) {
           margin: 0 0 20px;
        }
    }
    &__tags {
        font-size: 20px;
        font-weight: 400;
        line-height: calc(24 / 20);
        &:not(:last-child) {
            margin: 0 0 24px;
        }
    }
    //&__image {
    //    border-radius: 12px;
    //    overflow: hidden;
    //    height: 400px;
    //    img {
    //        width: 100%;
    //        height: 100%;
    //        object-fit: cover;
    //    }
    //}
    &__media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
        gap: 8px;
        &_item {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;
            & > img, & > video {
                width: 100%;     // Настройка ширины
                height: auto;    // Автоматическая высота для сохранения пропорций
                object-fit: cover;
            }
        }
    }
    &__footer {
        display: flex;
        gap: 12px;
        //& > * {
        //    &:last-child {
        //        margin-left: auto;
        //    }
        //}
        //&:not(:last-child) {
            margin: 0 0 24px;
    }
    &__tag {
        background-color: #F8F8F8;
        border-radius: 50px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 20px;
        cursor: pointer;
        &Label {
            font-family: "Saira", "sans-serif";
            font-size: 20px;
            font-weight: 500;
            line-height: calc(24 / 20);
            &_liked {
                color: #E11F1F;
            }
        }
        &_views {
            background-color: transparent
        };
    }
    &__comments {
        border-top: 2px solid #F8F8F8;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px 0 0 24px;
    }
    &__commentsList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__commentsMore {
        align-self: flex-start;
        color: #91172C;
        font-size: 20px;
        font-weight: 500;
        line-height: calc(24 / 20);
    }
    &__commentsForm {
        textarea {
            background-color: #F8F8F8;
            border: 2px solid #F2F2F2;
            border-radius: 25px;
            color: #6f6f6f;
            font-size: 20px;
            font-weight: 500;
            line-height: calc(24 / 20);
            padding: 32px 30px;
            resize: none;
            width: 100%;
            height: 220px;
        }
        .textarea_wrapper {
            position: relative;
        }
        .submit_button {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    }
}
