.hero {
    // background-image: url();
    background: linear-gradient(228deg, #f23e5d 0%, #91172c 100%);
    &__title {
        background-color: #91172C;
        backdrop-filter: blur(40px);
        border: 6px solid #FFFFFF;
        top: calc(127 / 560 * 100%);
        left: calc(35 / 1660 * 100%);
        transform: rotate(-15deg);
        transform-origin: center;
    }
    &__subtitle {
        background-color: #FFB800;
        top: calc(192 / 560 * 100%);
        left: calc(150 / 1660 * 100%);
        transform: rotate(-15deg);
        transform-origin: center;
        text-transform: capitalize;
    }
    &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: screen;
    }
    &__ruby {
        right: calc(-97 / 1660 * 100%);
        bottom: -24px;
    }
}

.training {
    .section__counter {
        margin-right: auto;
    }
    .tab-nav {
        margin-left: 20px;
    }
}

.image_card {
  cursor: pointer;
}

.training_videos_modal {
  z-index: 1000;
  
  @media (max-width: 1400px) {
    padding: 0;
  }

  .training_videos_modal_body {
    position: relative;
    background-color: transparent!important;
    display: flex;
    justify-content: center;
    
    @media (max-width: 1400px) {
      max-width: 80vw;
      height: 100vh;
      top: auto;
      transform: translate(-50%, 0);
    }

    &.image_modal_body {
      & > div {
        height: max-content;
      }
    }

    & > div {
      position: relative;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      border-radius: 50px;
      padding-bottom: 20px;

      @media (max-width: 1400px) {
        height: 100vh;
      }

      &.image_body {
        display: grid;
        align-content: start;
        gap: 30px;
        background-color: var(--white);
        border-radius: 50px;
        padding-bottom: 60px;

        & > img {
          border-radius: 50px 50px 30px 30px;
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        h2 {
          margin: 40px 0 15px 0;
        }

        b {
          font-size: 64px;
          font-weight: 600;
          margin: 0 100px;
        }
  
        p {
          font-size: 24px;
          line-height: 32px;
          margin: 0 100px;
        }
      }


      video {
        width: 100%;
        max-height: 100%;
        // object-fit: contain;
      }

      & > img {
        width: 100%;
        max-height: 90vh;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
